@import "./colors";

.hide {
    display: none!important;
}
.margin {
    &--l {
        margin-left: auto;
    }
    &--r {
        margin-right: auto;
    }
}
.w {
    &--full {
        width: 100%;
        max-width: none;
    }
}
.text {
    &--align-right {
        text-align: right;
    }
    &--underline {
        text-decoration: underline;
        text-decoration-color: $red;
    }
}
.highlight {
    color: $red;
}

.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.menu {
    display: flex;
    flex-direction: column;
    &--horizontal {
        flex-direction: row;
    }
    li {
        position: relative;
        &.has-submenu {
            a::after {
                content: "+";
                display: inline-block;
            }
            &:hover .sub-menu {
                display: flex;
            }
        }
        .sub-menu {
            display: none;
            position: absolute;
            min-width: auto;
            flex-direction: column;
            right: 0;
            padding-top: 40px;
            a {
                display: inline-block;
                height: 40px;
                line-height: 40px;
                border-radius: 20px;
                font-size: 0.725em;
                background-color: $black;
                padding-left: 20px;
                padding-right: 20px;
                min-width: 300px;
                &:active,
                &:hover {
                    color: $red;
                }
                &::before {
                    display: block;
                    content: " ";
                    display: block;
                    position: absolute;
                    width: 8px;
                    height: 14px;
                    background-image: url('../images/SVG/icon-chevron-right.svg');
                    background-repeat: no-repeat;
                    background-size: contain;
                    right: 12px;
                    top: 50%;
                    transform: translate(0, -50%);

                }
            }
            li {
                white-space: nowrap;
                margin-left: 0;
                margin-top: 4px;
                margin-bottom: 4px;
            }
        }
    }
}

.button {
    display: inline-block;
    font-size: 14px;
    line-height: 32px;
    border: 1.4px solid $black;
    color: $black;
    background: transparent;
    border-radius: 14px;
    padding-left: 1em;
    padding-right: 1em;
    cursor: pointer;
    text-decoration: none;
    &:hover {
        border-color: lighten($red, 20%);
        color: lighten($red, 20%);
    }
    &--primary {
        border: 1.4px solid $red;
        color: $red!important;
    }
}

.image {
    &--responsive {
        max-width: 100%;
        height: auto;
    }
}

.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    &--vertical {
        flex-direction: row;
    }
}

.w-100 {
    width: 100%;
}
.clearfix {
    // overflow: auto;
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}

.animation {
    @extend .clearfix;
    &-wrap {
        @extend .clearfix;
    }
}

.list--number {
    list-style: none;
    li {
        margin-bottom: 1em;
        padding-left: 2.125em;
        position: relative;
        h3 {
            &::before {
                content: "0"counter(list-item)"\a0\a0";
                font-weight: 500;
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }
}

.dropdown-menu {
    position: relative; 
    .handle {
        cursor: pointer;
    }
    .menu {
        display: none;
        position: absolute;
    }
    &:hover,
    &--open {
        .menu {
            display: block;
        }
    }
}


.collapse {
    position: relative;
    &__content {
        max-height: 0px;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
    &__toggle {
        z-index: 2;
        display: block;
        position: absolute;
        width: 10px;
        height: 18px;
        background-image: url(../images/SVG/collapse-arrow-down.svg);
        right: 0;
        top: 0;
        padding: 1.25em 0;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    &--in {
        .collapse__content {
            max-height: none;
        }
        .collapse__toggle {
            background-image: url(../images/SVG/collapse-arrow-up.svg);
        }
    }
}