@import "reset";
@import "colors";
@import "fontface";
@import "layout";

@import "utils";

.section {
    position: relative;
    z-index: 2;
    &--bg-transparent {
        background-color: transparent;
        &,a {
            color: $black;
        }
    }

    &--bg-dark {
        background-color: $black;
        &,a {
            color: $white;
        }
    }
    &--bg-gray {
        background-color: $gray;
        &,a {
            color: $black;
        }
    }
    &--bg-white {
        background-color: $white;
    }
    &--bg-light-red {
        background-color: $light-red;
        &,a {
            color: $black;
        }
    }

    box-sizing: border-box;
    padding: 100px 0;

    &__title {
        font-size: 40px;
        line-height: 50px;
        font-weight: 500;
    }
    &__sub-title {
        text-transform: uppercase;
        font-size: 22px;
        line-height: 32px;
        font-weight: 600;
        white-space: nowrap;
    }
    p {
        margin: 0.5em;
    }
}

.unikbase-logo-text {
    font-family: 'Rubik', sans-serif;
    fill: $white;
}

.site {
    font-family: "Archia", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: $black;
    &__logo {
        a {
            display: inline-block;
        }
        svg {
            height: 70px;
            width: auto;
        }
    }

    &__navigation {
        &, a {
            color: $white;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
        width: 100%;
        top: 0;
        z-index: 99;

        .logo--blue {
            display: none;
        }
        .main-navigation {
            display: none;
            margin: 0 auto;
            font-size: 24px;
            line-height: 28px;
            li {
                margin-left: 1em;
                &:hover, &.active {
                    a { 
                        text-decoration: underline;
                        text-decoration-color: $red;
                    }
                }
            }
            text-transform: uppercase;
        }
        &--white,
        &.navigation--sticky {
            &, a {
                color: $black;
            }
            .main-navigation {
                display: block;
            }
            
            .unikbase-logo-text {
                fill: $black;
            }
        }

        &--white {
            background-color: $white;
            padding: 36px 0;
            position: sticky;
            top: 0;
            z-index: 999;
        }
        .hamburger {
            cursor: pointer;
            display: none;
            margin-left: auto;
            z-index: 1;
            width: 24px;
            height: 20px;
            background: $black;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        /* Hamburger Line */
        .hamburger > div {
            position: relative;
            flex: none;
            width: 100%;
            height: 2px;
            background: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.4s ease;
        }

        // Menu Float on mobile
        .menu--mobile-float {
            @extend .flex;
            flex-grow: 1;
            flex-shrink: 1;
        }
        /* Hamburger Lines - Top & Bottom */
        .hamburger > div::before {
            content: '';
            position: absolute;
            z-index: 1;
            top: 6px;
            width: 100%;
            height: 2px;
            background: inherit;
        }

        /* Moves Line Down */
        .hamburger > div::after {
            top: 12px;
        }
    }

    &__header {
        background-color: $black;
        min-height: 100vh;
        position: relative;
        box-sizing: border-box;
        // > .flex:first-child {
        //     height: 70vh;
        // }
        .site__navigation {
            background-color: $black;
            padding-top: 36px;
            padding-bottom: 36px;
            z-index: 3;
            position: -webkit-sticky;
            position: sticky;
            top: 0;
        }
        .site__slogan {
            width: 100%;
            padding-bottom: 65px;
            z-index: 1;
            // margin-top: calc(100vh - 30vh - 148px);
            position: absolute;
            top : 70vh;
            left: 0;
            transform: translate(0, -100%);
        }
        &--decoration {
            z-index: 2;
            width: 100%;
            background-color: $gray;
            position: absolute;
            // bottom: 0;
            // left: 0;
            margin-top: calc(70vh - 148px);
            .parralax {
                width: 100%;
                height: 30vh;
                background-repeat: no-repeat;
                background-size: cover;
            }
            // background-image: url(../images/para);
            position: relative;
        }
        &, a {
            color: $white;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
        
        

        .site__short-about {
            font-size: 82px;
            line-height: 94px;
            font-weight: 500;
        }

        .navigation {
            &--scroll {
                font-size: 24px;
                line-height: 28px;
                li {
                    margin-left: 1em;
                }
            }
            &--sticky {
                position: fixed;
                z-index: 999;
                top:0;
                left: 0;
                background-color: $white;
                &, a {
                    color: $black;
                }
                width: 100vw;
                justify-content: right;
                padding-left: calc((100% - 1366px)/2);
                padding-right: calc((100% - 1366px)/2);
                box-sizing: border-box;
            }
        }
        
    }

    &.shown-navigation {
        .hamburger {
            > div {
                transform: rotate(45deg);
                &::before {
                    transform: rotate(-90deg) translate(25%, -25%);
                }
            }
        }
    }

    #why-us {
        position: sticky;
        top: -50vh;
        .section__title {
            font-size: 39px;
            text-align: center;
            font-weight: 500;
            margin-bottom: 100px;
        }
        .blocks {
            .block {
                box-sizing: border-box;
                padding-left: 40px;
                padding-right: 90px;
                padding-top: 70px;
                padding-bottom: 70px;
                position: relative;
                p {
                    margin-left: 0;
                    margin-right: 0;
                }
                &__thumbnail {
                    img {
                        width: 120px;
                        margin-right: 36px;
                    }
                }
                &__title {
                    font-size: 23px;
                    line-height: 24px;
                    font-weight: 500;
                    margin-bottom: 1em;
                }
                &__content {
                    height: 100%;
                    strong {
                        font-weight: 600;
                    }
                }
                .readmore {
                    margin-top: 1em;
                    display: inline-block;
                    display: none;
                    &::after {
                        content: " →";
                        display: inline-block;
                        margin-left: 0.5em;
                        text-decoration: auto;
                    }
                }
                &:nth-child(odd)::after {
                    content: " ";
                    display: block;
                    position: absolute;
                    width: 2px;
                    height: calc(100% - 20px);
                    background-color: $white;
                    top: 10px;
                    right: 0;
                }

                &::before {
                    content: " ";
                    display: block;
                    position: absolute;
                    height: 2px;
                    width: calc(100% - 20px);
                    background-color: $white;
                    left: 10px;
                    bottom: 0;
                }
                &:nth-last-child(1)::before,
                &:nth-last-child(2)::before {
                    content: none;
                }
            }
        }
    }

    .articles {
        box-sizing: border-box;
        padding: 60px;
        width: 80%;
        margin-left: auto;
        .article {
            margin-bottom: 100px;
            &__title {
                font-size: 40px;
                line-height: 50px;
                margin-bottom: 70px;
                font-weight: 500;
            }
        }
    }

    #what-we-do {
        font-size: 30px;
        line-height: 40px;
        ul {
            list-style-type: initial;
            list-style-position: inside;
            font-size: 25px;
            line-height: 35px;
            font-weight: normal;
            margin-left: 1em;
        }
        .articles {
            z-index: 3;
            position: relative;
        }
        .article {
            &:last-child ul {
                list-style: none;
                padding-left: 1em;
                li {
                    margin-bottom: 1em;
                    padding-left: 2.125em;
                    position: relative;
                    &::before {
                        content: "0"counter(list-item)"\a0\a0";
                        font-weight: 700;
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                    &::after {
                        content: " ";
                        display: block;
                        width: 100%;
                        height: 2px;
                        background-color: $red;
                        width: 100%;
                        margin-top: 1em;
                    }
                    &:last-child::after{
                        content: none;
                    }
                }
            }
        }
    }

    #how-it-works {
        .article {
            h4 {
                display: inline-block;
                font-size: 30px;
                line-height: 40px;
                font-weight: 500;
                border-bottom: 2px solid $black; 
                margin-bottom: 0.5em;
                &:not(:first-child) {
                    margin-top: 1.25em;
                }
            }
            p {
                font-weight: normal;
                font-size: 25px;
                line-height: 25px;
                margin-left: 0;
                margin-right: 0;
            }
        }
    }

    #partners {
        min-height: 292px;
        margin-top: -50px;
        padding: 100px 0 100px 0;
        .partners {
            list-style: none;
            align-items: center;
            justify-content: space-around;
            margin: 0;
            margin-top: 30px;
            .partner {
                margin-right: 24px;
                a {
                    display: inline-block;
                }
                img {
                    width: auto;
                    height: 28px;
                }
            }
        }
    }

    #press {
        padding: 50px 0;
        .section {
            &__title {
                margin-bottom: 50px;
            }
        }
        .posts {
            li {
                text-align: left;
                display: block;
                img {
                    display: inline-block;
                    height: 40px;
                    width: auto;
                    margin-bottom: 1em;
                }
                a {
                    display: block;
                    &::after {
                        content: ' →';
                        display: inline-block;
                        margin-left: 0.25em;
                    }
                }
            }
        }
    }

    #blogs {
        .section {
            &__title {
                margin-bottom: 50px;
            }
        }
        .posts {
            .post {
                display: flex;
                position: relative;
                &__thumbnail {
                    width: 50%;
                    margin-right: 20px;
                }
                &__summary {
                    display: flex;
                    flex-wrap: nowrap;
                    flex-direction: row;
                }
                &__date {
                    margin-right: 50px;
                    display: flex;
                    flex-direction: column;
                    font-size: 25px;
                    font-weight: 600;
                    line-height: 30px;
                }
                &__tags {
                    li {
                        display: inline-block;
                        float: left;
                        font-size: 14px;
                        a {
                            color: $red;
                        }
                        margin-right: 0.25em;
                        &:not(:last-child)::after {
                            content: ',';
                            display: inline;
                        }
                    }
                }
                &__content {
                    font-size: 25px;
                    line-height: 30px;
                    font-weight: normal;
                    p {
                        margin-left: 0;
                    }
                }
            }
        }
    }

    #horse-animation {
        padding-left: 255px;
        .animation {
            flex-grow: 1;
            flex-shrink: 0;
            position: absolute;
            transform: translate(-50%, 0);
            left: 0;
            top: 0;
            img {
                width: 432px;
                height: 515px;
            }
        }
    }

    #phone-app-animation {
        margin-bottom: 0;
        .article__content {
            padding-right: 70px;
        }
        .animation {
            width: 30%;
            flex-basis: 30%;
            flex-grow: 1;
            flex-shrink: 0;
            position: relative;
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 380px;
                height: 800px;
                // transform: translate(0px, -100px)
            }
        }
    }

    #secure-animation {
        padding-left: 300px;
        .animation {
            flex-grow: 1;
            flex-shrink: 0;
            position: absolute;
            transform: translate(-50%, 0);
            left: 0;
            top: 0;
            img {
                width: 432px;
                height: 515px;
            }
        }
    }

    #video {
        background-color: transparent;
        margin-top: -320px;
        &::after {
            content: " ";
            display: block;
            position: absolute;
            width: 100%;
            height: calc(100% - 320px);
            bottom: 0;
            left: 0;
            background-color: $white;
            z-index: -1;
        }
        a {
            color: $black;
            text-decoration-style: underline;
            text-decoration-color: $red;
            white-space: nowrap;
            width: 300px;
            flex-basis: 300px;
            flex-shrink: 0;
            flex-grow: 0;
            margin-right: 60px;
        }
        .video__player {
            width: 626px;
            height: 352px;
            position: relative;
            .play-button {
                width: 80px;
                height: 80px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                cursor: pointer;
                opacity: 0.8;
                &:hover {
                    opacity: 1;
                }
            }
        }
        .video__content {
            display: none;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            #video-player {
                width: 100%;
                height: 100%;
            }
        }
    }

    &__footer {
        z-index: 2;
        position: relative;
        padding: 60px 0;
        .col {
            &:first-child,
            &:nth-child(2) {
                width: 20%;
                flex-basis: 20%;
            }
        }
        .widgets {
            margin-bottom: 100px;
            .widget { 
                font-size: 18px;
                line-height: 28px;
                font-weight: 600;
                box-sizing: border-box;
                border-top: 2px solid $red;
                padding-top: 30px;
                margin-right: 20px;
                a {
                    text-decoration: none;
                }
                .menu-term {
                    font-weight: normal;
                }
            }
        }
        .socials {
            flex-basis: 160px;
            img {
                width: 28px;
                height: 28px;
                display: inline-block;
            }
        }
    }
}

@import "responsive";