@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

@font-face {
    font-family: "Archia";
    src: url(../font/Archia-Regular.otf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Archia";
    src: url(../font/Archia-Thin.otf);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "Archia";
    src: url(../font/Archia-Light.otf);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Archia";
    src: url(../font/Archia-Light.otf);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Archia";
    src: url(../font/Archia-Medium.otf);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Archia";
    src: url(../font/Archia-SemiBold.otf);
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Archia";
    src: url(../font/Archia-Bold.otf);
    font-style: normal;
    font-weight: 700;
}

