.d-mobile {
    display: none!important;
}

.flex {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    &--d {
        display: block!important;
    }
    &--column {
        flex-direction: column;
    }
    &--start {
        align-items: flex-start;
    }
    &--end {
        align-items: flex-end;
        justify-content: flex-end;
    }
    &--grow {
        flex-grow: 1;
        flex-shrink: 1;
    }
    &--no-wrap {
        flex-wrap: nowrap;
    }
    &--space-around {
        justify-content: space-around;
    }
    &--space-between {
        justify-content: space-between;
    }
    &--reverse {
        flex-direction: row-reverse;
    }
}
.container {
    box-sizing: border-box;
    position: relative;
    // width: 1120px;
    width: 1366px;
    max-width: calc(100% - 80px);
    margin-left: auto;
    margin-right: auto;
    .wrap {
        &--80 {
            width: 80%;
        }
    }
    &--small {
        width: 840px;
    }
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    &--wrap {
        flex-wrap: wrap;
    }
    .col {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 50%;
        &--revert {
            flex-flow: row-reverse;
        }
        &--1-3 {
            flex-basis: 30%;
        }
        &--2-3 {
            flex-basis: 60%;
        }
    }
}