@import "reset";
@import "layout";
// Google fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;700&display=swap');

$mobile-break: 800px;
// Variables
:root {
    --color-black: #041c25;
    --color-white: #FFFFFF;
    --color-red: #e4003a;
    --color-light-red: lighten(#e4003a, 10%);
    --color-light-red: #EBAD99;
    --color-gray: #EFEBE6;
    --color-light-gray: lighten(#EFEBE6, 10%);
}

.site {
    padding-bottom: 40px;
    font-family: Arial, Helvetica, sans-serif, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 400;
    .btn {
        font-size: 18px;
        text-transform: uppercase;
        line-height: 1em;
        padding: 12px;
        border: 1px solid #ddd;
        background-color: transparent;
        border-radius: 4px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
        cursor: pointer;
        &--primary {
            background-color: var(--color-red);
            color: var(--color-white);
            border-color: var(--color-red);
            &:hover {
                background-color: lighten(#EA5123, 10%);
            }
        }
    }
    a {
        color: #000;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    h3 {
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        font-size: 18px;
    }
    &__header {
        margin: 40px 0;
        .row {
            justify-content: center;
        }
        .logo {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            a {
                display: inline-block;
            }
            img {
                height: 60px;
                width: auto;
            }
            .unikbase {
                margin-top: 12px;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-start;
                > span {
                    font-family: 'Lato', sans-serif;
                    font-size: 14px;
                    font-weight: 300;
                    margin-right: 0.618em;
                }
                img {
                    height: 32px;
                }
            }
        }
    }

    &__footer {
        margin-top: 80px;
        .container {
            .row {
                justify-content: space-between;
                align-items: flex-end;
                @media screen and (max-width: $mobile-break ){
                    flex-wrap: wrap;
                    .others {
                        flex-basis: 100%;
                        order: 1;
                        flex-direction: column;
                        margin-bottom: 1em;
                    }
                    .socials {
                        order: 3; 
                        margin: 0 0 0 auto;
                    }
                    .brand {
                        order: 2;
                    }
                }
            }
        }
        .socials {
            margin: 0 auto;
            ul {
                display: flex;
                flex-direction: row;
                li {
                    margin-right: 1em;
                    a {
                        display: inline-block;
                        span {
                            display: inline-block;
                            height: 24px;
                            width: 24px;
                            background-color: #000;
                        }
                    }
                }
            }
        }
        .logo {
            a {
                display: inline-block;
            }
            img {
                height: 60px;
            }
        }
        .others {
            display: flex;
            flex-direction: row;
            font-size: 14px;
            ul {
                display: flex;
                flex-direction: row;
                margin-right: 0.618em;
                li {
                    margin-right: 0.618em;
                }
            }
        }
    }

    $content-width: 720px;
    @mixin content {
        width: $content-width;
        flex-basis: $content-width;
        @media screen and (max-width: 800px) {
            width: 100%;
            flex-basis: 100%;
            flex-shrink: 0;
            flex-grow: 0;
        }
    }

    .pestel-form {
        h3 {
            @include content();
            margin: 0 auto;
        }
        .form .passport-fields {
            @include content();
        }
    }
    .form {
        .passport-fields {
            margin-top: 1em;
            margin-bottom: 1em;
            margin-left: auto;
            margin-right: auto;
        }
        &__group {
            display: flex;
            flex-direction: row;
            margin-bottom: 1em;
            label {
                width: 20ch;
                flex-shrink: 0;
                flex-basis: 20ch;
            }
            input {
                line-height: 1em;
                padding: 8px 12px;
            }
            input[type="number"] {
                width: 10ch;
            }

            input[type="email"],
            input[type="tel"],
            input[type="text"] {
                width: 100%;
            }
        }
        .pricing-options {
            margin: 2em 0;
            .row {
                justify-content: center;
                width: 70%;
                margin: 0 auto;
                margin-bottom: 1em;
                @media screen and (max-width: $mobile-break) {
                    width: 100%;
                    flex-direction: column;
                    .pricing-option {
                        flex-basis: 100%;
                        margin-bottom: 1.25em;
                    }
                }
            }
            .pricing-option {
                flex-basis: calc(100% / 3);
                flex-shrink: 0;
                flex-grow: 0;
                box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
                border-radius: 4px;
                margin: 0 1em;
                &__header {
                    display: flex;
                    flex-direction: column;
                    padding: 1em 0;
                    align-items: center;
                    justify-content: center;
                    background-color: var(--color-light-gray);
                    padding: 1em;
                    border-bottom: 1px solid var(--color-gray);
                }
                &.active .pricing-option__header {
                    background-color: var(--color-gray);
                    // color: var(--color-white);
                    .btn {
                        background-color: var(--color-red);
                        color: var(--color-white);
                        border-color: var(--color-red);
                    }
                }

                &__title {
                    text-transform: uppercase;
                }
                &__price {
                    font-size: 3.618rem;
                    line-height: 1.5em;
                    position: relative;
                    .currency {
                        font-size: 1.618rem;
                        line-height: 1em;
                        position: absolute;
                        top: 0;
                        left: 0;
                        translate: -100% 50%;
                    }
                }
                &__description {
                    padding: 1em;
                    ul {
                        li {
                            line-height: 1.5em;
                            margin-bottom: 12px;
                            position: relative;
                        }
                    }
                    > ul > li {
                        padding-left: 1.618em;
                        &::before {
                            content: '✓';
                            display: block;
                            position: absolute;
                            left: 0;
                            top: 4px;
                            color: var(--color-red);
                        }
                    }
                }
            }
            &--note {
                @include content();
                margin: 0 auto;
                font-size: 14px;
                font-style: italic;
                font-weight: 300;
            }
        }
        &__submittion {
            margin-top: 1.618em;
            margin: 0 auto;
            @include content();
            label {
                flex-basis: 100%;
                display: inline-block;
                flex-direction: row;
                align-items: center;
                a {
                    text-decoration: underline;
                }
                input {
                    margin-right: 1em;
                }
            }
            .form__group {
                justify-content: center;
            }
            button:disabled {
                opacity: 0.5;
                cursor: not-allowed;
                background-color: var(--color-gray);
                border: none;
                color: lighten(#000, 50%);
            }
        }
    }
}
